node_modules
env/bin/activate
*.pyc
*.log
__pycache__
include
share
pyenv.cfg
.*
!/.gitignore
!/.gitlab-ci.yml
!/.coveragerc

jobs/opening/cf77013d.000/*
jobs/opening/cer/*
jobs/opening/opening/*
jobs/opening/comarch/*
.~lock*
*.sublime-*

# Unit test / coverage reports
htmlcov/
.tox/
*.egg-info/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
code_coverage_report/*
*,cover
.hypothesis/
config_local.py
config_logging_local.py
frontend/local/static/scripts/*
frontend/local/static/styles/*
tmp/
src/
logs/
venv/
celerybeat-schedule*
celerybeat.pid
data/GeoLite2-City.mmdb
parser.out
